.search-users-modal {
    width: 35%;
    height: 70%;
}

.modal-search-users-content {
    width: 100%;
    height: 100%;
    align-self: center;
    position: absolute;
    left: 85%;
    top: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background: var(--background);
    padding: 3%;
    border-radius: 5px;
    outline: none;
}

.search-users-header {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.search-users-modal-title {
    font-family: Righteous;
    color: var(--primary);
    font-size: 1.5em;
}

.search-users-input-container {
    height: 45%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.user-search-input {
    height: 45%;
    width: 90%;
    padding: 1%;
    font-size: 1.2em;
    color: var(--primary);
    font-family: Asap;
    background: var(--background);
    border: none;
    border-bottom: 1px solid var(--black);
}

.user-search-input:focus {
    outline: none;
}

.user-search-icon {
    height: 70%;
    width: 10%;
    fill: var(--primary);
    cursor: pointer;
}

.search-users-modal-body {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.no-search-made-container {
    width: 60%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
}

.no-search-made-icon {
    height: 40%;
    width: 50%;
    fill: var(--primary);
}

.no-search-made-message {
    font-family: Righteous;
    color: var(--primary);
    font-size: 1.5em;
    text-align: center;
}

.no-search-results-container {
    width: 60%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.no-search-results-icon {
    height: 40%;
    width: 50%;
    fill: var(--primary);
}

.no-search-results-message {
    font-family: Righteous;
    color: var(--primary);
    font-size: 1.5em;
    text-align: center;
}