.screen {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.banner-timeline {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: var(--background);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.2);
}

.logo-timeline {
    height: 60%;
    width: 30%;
    fill: var(--primary);
}

.titles-timeline {
    width: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.title-show-timeline {
    font-size: 1.5em;
    font-family: Righteous;
    color: var(--primary);
}

.title-time-timeline {
    font-size: 1.5em;
    margin-left: 50%;
    font-family: Righteous;
    color: var(--primary);
}

.logo-title-timeline {
    height: 100%;
    width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}

.user-actions {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.plus-publication-icon {
    height: 50px;
    width: 20px;
    fill: var(--light-grey-background);
}

.button-publication {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.create-publication {
    color: var(--light-grey-background);
    font-size: 0.8em;
    font-family: Righteous;
}

.search-people-icon {
    height: 50px;
    width: 30px;
    fill: var(--light-grey-background);
}

.search-people {
    color: var(--light-grey-background);
    font-size: 0.7em;
    font-family: Righteous;
}

.user-profile-icon {
    height: 60px;
    width: 60px;
    fill: var(--primary);
    cursor: pointer;
}

.welcome-container {
    width: 95%;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 1%;
    margin-bottom: 2%;
}

.welcome-message {
    color: var(--black);
    font-size: 1.3em;
    font-family: Righteous;
}

.welcome-message-username {
    color: var(--primary);
    font-size: 1.3em;
    font-family: Righteous;
}

.timeline-body {
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

#timeline-body::-webkit-scrollbar {
    display: none;
}

.timeline-publications {
    width: auto;
    height: 100%;
    align-self: center;
}

.no-publications-container {
    width: 50%;
    height: 25%;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 2%;
    border: 0.5px solid var(--primary-lighter);
}

.no-pubs-messages-container {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.no-pubs-message {
    color: var(--black);
    font-size: 1.3em;
    font-family: Righteous;
}

.logo-no-pubs {
    height: 80%;
    width: 35%;
    fill: var(--primary);
}

.floating-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 5%;
    right: 4%;
    width: 6%;
    height: 12%;
    border-radius: 120px;
    border: none;
    box-shadow: 2px  2px 3px rgba(0, 0, 0, 0.3);
    background: var(--primary);
    color: var(--background);
    cursor: pointer;
}

.floating-button:focus {
    outline: none;
}

.recommendation-icon {
    width: 60%;
    height: 80%;
    fill: var(--primary);
}