.update-password-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: absolute;
    left: 85%;
    top: 40%;
    background: var(--background);
    padding: 3%;
    border-radius: 5px;
    outline: none;
}

.update-password-header {
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.update-back-button-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.update-back-button-icon {
    width: 20%;
    height: 50%;
    transform: scale(0.6, 0.6);
    fill: var(--background);
}

.update-back-button-title {
    font-family: Righteous;
    font-size: 0.8em;
    color: var(--background);
}

.update-password-title {
    font-family: Righteous;
    font-size: 1.8em;
    color: var(--primary);
}

.update-passsword-fields-container {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.update-password-button-container {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}