p {
    margin: 0;
}

.login-container {
    width: 50%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: var(--background);
    border: 1px solid black;
}

.logo-title {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid blue;
}

.logo {
    height: 80%;
    width: 15%;
    fill: var(--primary);
}

.titles {
    width: 5%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.title-show {
    font-size: 1.5em;
    font-family: Righteous;
}

.title-time {
    font-size: 1.5em;
    margin-left: 50%;
    font-family: Righteous;
}

.login-fields {
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid green;
}

.login-button-container {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    border: 1px solid yellow;
}

.register-container {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid grey;
}